<!-- Header ============================================= -->

<header>
    {% include "components/navbar.njk" %}

    <h1><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

</header>

<!-- #header end -->



